@model IEnumerable<EmployeeModel>

@{
    ViewData["Title"] = "Employees";
}
<div class="card">
    <div class="card-header">
        Employees
    </div>
    <div class="card-body">
        <div class="row mb-1">
            <div class="col-md-12">
                <a class="btn btn-primary btn-sm float-right"  asp-controller="Employee" asp-action="Add">Add Employee</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Job Description</th>
                        <th>Employee Number</th>
                        <th>Department</th>
                        <th>Hourly Pay</th>
                        <th>Bonus</th>
                        <th>Employee Type</th>
                        <th></th>
                    </tr>
                    @{
                        if (Model != null && Model.Count() > 0)
                        {
                            foreach (var employee in Model.OrderBy(m=>m.EmployeeNumber))
                            {
                                <tr>
                                    <td>@employee.Name</td>
                                    <td>@employee.JobDescription</td>
                                    <td>@employee.EmployeeNumber</td>
                                    <td>@employee.Department?.Name</td>
                                    <td>@employee.HourlyPay</td>
                                    <td>@employee.Bonus</td>
                                    <td>@employee.EmployeeType?.Description</td>
                                    <td>
                                        <a asp-controller="Employee" asp-action="Edit" asp-route-id="@employee.Id" class="text-primary">Edit</a> |
                                        <a asp-controller="Employee" asp-action="Details" asp-route-id="@employee.Id" class="text-primary">Details</a> |
                                        <a onclick="return confirm('Are you sure you want to delete the employee @employee.Name ?')"
                                           class="text-danger" asp-controller="Employee" asp-action="Delete" asp-route-id="@employee.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                        }
                    }
                </table>
            </div>
        </div>
    </div>
</div>